<div *ngIf="role$ | async as role" class="sidebar">
<ul  class="nav nav-pills flex-column mb-auto menu ">
  <li
  class="list-group-item nav-item"
  *ngFor="let item of menuItems"
  [hidden]="role && !item.roles.includes(role)"
>
  <a
    class="nav-link d-flex align-items-center gap-2 text-secondary"
    [routerLink]="item.route"
    routerLinkActive="active"
    role="button"
  >
  <!-- <span> -->
      <svg width="15px" height="15px" viewBox="-1.59 0 26.804 26.804" >
        <g id="Group_37" data-name="Group 37" transform="translate(-108.142 -942.014)">
          <path id="Path_17" fill="#000000" data-name="Path 17" d="M109.642,968.818a1.5,1.5,0,0,1-1.5-1.5v-23.8a1.5,1.5,0,0,1,2.25-1.3l20.616,11.9a1.5,1.5,0,0,1,0,2.6l-20.616,11.9A1.5,1.5,0,0,1,109.642,968.818Zm1.5-22.707V964.72l16.116-9.3Z" fill="#0d2b67"/>
        </g>
      </svg>
      <!-- </span> -->
      <!-- <span> -->
 {{ item.label }}
   <!-- </span> -->
   </a>
  </li>
</ul>
</div>